.user-table tbody tr {
  height: 64px; /* o el valor que prefieras */
  vertical-align: middle;
}
.dark-table {
  background-color: #2c2c2c;
  color: white;
}

.dark-table th,
.dark-table td {
  background-color: #2c2c2c !important;
  color: white !important;
}

.dark-table .form-check-label {
  color: white;
}

.dark-accordion-btn, .accordion-button.dark-accordion-btn {
  background-color: #232323 !important;
  color: white !important;
  border: none;
}
.accordion-button.dark-accordion-btn:not(.collapsed) {
  background-color: #181818 !important;
  color: #8b0000 !important;
}
